build/table.html

<div class="my-table">
	<h3>title of table</h3>
	<div class="box-container">
		<div class="box box__title">Title</div>
		<div class="box box__title">Title</div>
		<div class="box box__title">Title</div>
		<div class="box box__title">Title</div>
		<div class="box">1</div>
		<div class="box">2</div>
		<div class="box">3</div>
		<div class="box">4</div>
		<div class="box">1</div>
		<div class="box">2</div>
		<div class="box">3</div>
		<div class="box">4</div>
		<div class="box">1</div>
		<div class="box">2</div>
		<div class="box">3</div>
		<div class="box">4</div>
	</div>
</div>

src/views/table.pug
.my-table
    h3 title of table

    .box-container
        .box.box__title Title
        .box.box__title Title
        .box.box__title Title
        .box.box__title Title

        .box 1
        .box 2
        .box 3
        .box 4

        .box 1
        .box 2
        .box 3
        .box 4

        .box 1
        .box 2
        .box 3
        .box 4
